<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body ng-app="graphApp">
    <div class="container-fluid">
        <div class="row">
            <h1>Damage Inc. <small>USD</small></h1>
        </div>

        <div class="row" ng-controller="setupCtrl">
            <div class="btn-group col-lg-6">
                <button type="button" class="btn btn-default {{interval == 'week' ? 'active' : ''}}" ng-click="setType('week')">Week</button>
                <button type="button" class="btn btn-default {{interval == 'month' ? 'active' : ''}}" ng-click="setType('month')">Month</button>
                <button type="button" class="btn btn-default {{interval == 'quarter' ? 'active' : ''}}" ng-click="setType('quarter')">Quarter</button>
                <button type="button" class="btn btn-default {{interval == 'year' ? 'active' : ''}}" ng-click="setType('year')">Year</button>
            </div>
            <div class="col-lg-6">
                <select ng-model="selectedSerie" ng-value="selectedSerie" ng-change="setSerie()">
                    <option ng-repeat="serie in series" ng-value="serie.toLowerCase()" ng-selected="serie.toLowerCase() == selectedSerie">{{serie}}</option>
                </select>
            </div>
        </div>

        <div class="row" ng-controller="chartCtrl" class="chart"></div>
    </div>

    <script src="build.js"></script>
</body>
</html>